---
import { Oauth, OpenAPI } from "@kinde/management-api-js";

const isAuthenticated = Astro.locals.isAuthenticated;
const accessToken = Astro.locals.accessToken;

if (isAuthenticated) {
  OpenAPI.TOKEN = accessToken;
  const userProfile = await Oauth.getUserProfileV2();
  console.log(userProfile);
}
---

{isAuthenticated ? (
	<a href="/api/kinde/signout">Sign Out</a>
  ) : (
	<a href="/api/kinde/login">Login</a>
    <a href="/api/kinde/register">Register</a>
)}

<br />

<a href="/api/kinde/isAuthenticated">isAuthenticated</a>