---
import { getUserData } from 'astro-kinde/calls';

const isAuthenticated = Astro.locals.isAuthenticated;

let userData = await getUserData(Astro);
console.log(userData);

---

{isAuthenticated ? (
	<a href="/api/kinde/signout">Sign Out</a>
  ) : (
	<a href="/api/kinde/login">Login</a>
  <a href="/api/kinde/register">Register</a>
  )}