---
import { getUserData } from 'kinde-astro';

let userData = await getUserData(Astro);

console.log(userData);

const isAuthenticated = Astro.locals.isAuthenticated;
---

{isAuthenticated ? (
	<a href="/api/kinde/signout">Sign Out</a>
  ) : (
	<a href="/api/kinde/login">Login</a>
  <a href="/api/kinde/register">Register</a>
  )}