---
import { getTokenDetails, getUserProfile, revokeToken } from 'astro-kinde/calls';

const isAuthenticated = Astro.locals.isAuthenticated;

let revoke = await revokeToken(Astro, "eyJhbGciOiJSUzI1NiIsImtpZCI6ImQ1OjJlOjFkOmYwOjMxOjZjOmUwOmViOjA3OmJjOjNhOmUxOjRjOjExOmU3OjhmIiwidHlwIjoiSldUIn0.eyJhdWQiOlsiaHR0cHM6Ly9tYXBwYS5raW5kZS5jb20vYXBpIl0sImF6cCI6ImMzZjc0Mjg5ZmZhNTQ0MzQ5OTAxMjRiYmE5NWU1Y2U3IiwiZXhwIjoxNzE1OTQ1ODQ1LCJndHkiOlsiY2xpZW50X2NyZWRlbnRpYWxzIl0sImlhdCI6MTcxNTg1OTQ0NSwiaXNzIjoiaHR0cHM6Ly9tYXBwYS5raW5kZS5jb20iLCJqdGkiOiIzZDdiODFkOS0zZmFmLTQ4MjctOGUwNy03OWU0NzU4YzJmYzEiLCJzY29wZSI6IiIsInNjcCI6W119.iN3dP8fzJfB-cFfIJlYT6YR-z-HtfemZAesVeODztSxFScouD1uRAY3ROuORkWun2c6PKAdijsUVH2blbT6ZHgrfvnFO5XWKJimUylF1kaT1wINENhXJR6LmCLVFTFQhicVmxcx7Fn_cB0FeWIcRPb8NMHd1CVL2v7RbI31PtyzU0dXtqRTu5hJFizn3LEJTmaYHDawFNDyVGKjQRkq5H-GJQuFmLt7ckynbrdING-mHHKsXSoHPRHh4TZuybo_jPuYjX-1IlZu45cc9yQrzCYtjT2HY9frro2dTct5JJFJQthpiE8EW1NHycmwE5ABDvt5HTI0qzfCnSO42HzDwqg")
console.log(revoke);
let tokenDetails = await getTokenDetails(Astro, "eyJhbGciOiJSUzI1NiIsImtpZCI6ImQ1OjJlOjFkOmYwOjMxOjZjOmUwOmViOjA3OmJjOjNhOmUxOjRjOjExOmU3OjhmIiwidHlwIjoiSldUIn0.eyJhdWQiOlsiaHR0cHM6Ly9tYXBwYS5raW5kZS5jb20vYXBpIl0sImF6cCI6ImMzZjc0Mjg5ZmZhNTQ0MzQ5OTAxMjRiYmE5NWU1Y2U3IiwiZXhwIjoxNzE1OTQ1ODQ1LCJndHkiOlsiY2xpZW50X2NyZWRlbnRpYWxzIl0sImlhdCI6MTcxNTg1OTQ0NSwiaXNzIjoiaHR0cHM6Ly9tYXBwYS5raW5kZS5jb20iLCJqdGkiOiIzZDdiODFkOS0zZmFmLTQ4MjctOGUwNy03OWU0NzU4YzJmYzEiLCJzY29wZSI6IiIsInNjcCI6W119.iN3dP8fzJfB-cFfIJlYT6YR-z-HtfemZAesVeODztSxFScouD1uRAY3ROuORkWun2c6PKAdijsUVH2blbT6ZHgrfvnFO5XWKJimUylF1kaT1wINENhXJR6LmCLVFTFQhicVmxcx7Fn_cB0FeWIcRPb8NMHd1CVL2v7RbI31PtyzU0dXtqRTu5hJFizn3LEJTmaYHDawFNDyVGKjQRkq5H-GJQuFmLt7ckynbrdING-mHHKsXSoHPRHh4TZuybo_jPuYjX-1IlZu45cc9yQrzCYtjT2HY9frro2dTct5JJFJQthpiE8EW1NHycmwE5ABDvt5HTI0qzfCnSO42HzDwqg", "Bearer");
console.log(tokenDetails);
let userProfile = await getUserProfile(Astro);
console.log(userProfile);
---

{isAuthenticated ? (
	<a href="/api/kinde/signout">Sign Out</a>
  ) : (
	<a href="/api/kinde/login">Login</a>
  <a href="/api/kinde/register">Register</a>
  )}